{% extends "base.html" %}

{% load staticfiles %}

{% block title %}列表页{% endblock  %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar latest-news">
        <h4>最新消息</h4>
        <ul>
          <li><a href="http://yangtzeu.edu.cn" target="_blank">长江大学</a></li>
          <li><a href="http://cdjjh.yangtzeu.edu.cn/" target="_blank">长江大学教育发展基金会</a></li>
          <li><a href="http://alumni.xmu.edu.cn/" target="_blank">厦门大学校友会</a></li>
          <li><a href="http://www.tsinghua.org.cn/alumni/index.do" target="_blank">清华大学校友会</a></li>
          <li><a href="http://xiaoyou.cup.edu.cn/Client/index.aspx" target="_blank">中国石油大学校友会</a></li>
          <li><a href="http://www.usho.cn/" target="_blank">中国高校校友会动态信息展示中心</a></li>
        </ul>
      </div><!--/.sidebar-->
    </div><!--/.col-md-3-->
    <div class="col-md-9">
      <h4 class="position">当前位置：</h4>
      <div class="list">
        <ul class="padding-0">
          <li><a href="#">2018年新年贺词</a><span>[2018-01-01]</span></li>
          <li><a href="#">【校友活动】苏州校友会年会举行</a><span>[2017-12-29]</span></li>
          <li><a href="#">【工作动态】高心灵基金会来访我校</a><span>[2017-12-27]</span></li>
        </ul>
      </div>
      <div class="page">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li>
              <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
              <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div><!--/.col-md-9-->
  </div><!--/.row-->
</div><!--/.container-->
{% endblock %}
