{% extends "base.html" %}

{% load staticfiles %}

{% block title %}登录/注册页面{% endblock  %}

{% block content %}
<div class="container">
  <!-- <form method="post">
    {{ form.as_p }}
    <button type="submit" class="btn btn-default">DONE</button>
    {% csrf_token %}
  </form> -->
  <div class="login">
    <div class="row">
      <div class="col-md-8"></div>
      <div class="col-md-4">
        <div class="form">
          <form class="" method="post">
            {% if form.errors %}
              <div class="bg-danger">{{ form.errors }}</div><br>
              {% for field in form %}
                <div class="form-group margin-0">
                  {{ field.label }}<br>
                  {{ field }}
                </div><br>
              {% endfor %}
            {% else %}
              {% for field in form %}
                <div class="form-group margin-0">
                  {{ field.label }}<br>
                  {{ field }}
                </div><br>
              {% endfor %}
            {% endif %}

            <br>
            {% if 'login' in request.path %}
              <button type="submit" class="btn btn-default btn-block">登录</button>
            {% endif %}

            {% if 'register' in request.path %}
              <button type="submit" class="btn btn-default btn-block">注册</button>
            {% endif %}
            <br>
            <div>
                <span>其他登录方式：</span>
                <a href="{% url 'qq_login' %}">
                    <img src="{% static 'images/qqlogin.png' %}" alt="QQ登录">
                </a>
            </div>
            {% csrf_token %}
          </form>
        </div>
      </div>
    </div><!--/.row-->
  </div><!--/.login-->
</div>
{% endblock %}
